<table class="table table-hover">
  <thead>
  <tr>
    <th>#</th>
    <th>Product name</th>
    <th>Price</th>
    <th>Remove</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th scope="row">1</th>
    <td>Product 1</td>
    <td>100$</td>
    <td><a><i class="fas fa-times"></i></a></td>
  </tr>
  <tr>
    <th scope="row">2</th>
    <td>Product 2</td>
    <td>100$</td>
    <td><a><i class="fas fa-times"></i></a></td>
  </tr>
  <tr>
    <th scope="row">3</th>
    <td>Product 3</td>
    <td>100$</td>
    <td><a><i class="fas fa-times"></i></a></td>
  </tr>
  <tr>
    <th scope="row">4</th>
    <td>Product 4</td>
    <td>100$</td>
    <td><a><i class="fas fa-times"></i></a></td>
  </tr>
  <tr class="total">
    <th scope="row">5</th>
    <td>Total</td>
    <td>400$</td>
    <td></td>
  </tr>
  </tbody>
</table>