.print-button{
  background-color: #b01116;
  color: white;
  border: none;
  &:hover{
    background-color: #b01116;
    color: white;
  }
  &:visited{
    background-color: #b01116;
    color: white;
  }
}

.print-buttons{
  text-align: center;
  margin-top: 10px;
}

.print-body{
  background: rgba(0, 0, 0, 0.8) none repeat scroll 0 0;
  margin-bottom: 10px;
}

.print-content{
  padding-right: 35%;
  padding-left: 35%;
}

@media print {
  #printPageButton {
    display: none;
  }
  #print-back-btn{
    display: none;
  }
}