.report-wraper{
  margin: 10px 5px 0px 10px;
  height: 742px; overflow: auto;
  .search-button{
    background-color: #b01116;
    color: white;
  }
  .download-btn{
    float: right;
    margin-right: 10px;
    background-color: #b01116;
    color: white;
  }
}