<div>
  <h4>Expense</h4>
</div>
<div>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Expense Title:</th>
      <th>Expense Amount:</th>
      <th>Date:</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td><%= @expense.title %></td>
      <td><%= @expense.amount %></td>
      <td><%= @expense.date %></td>
    </tr>
    </tbody>
  </table>
</div>
